@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');

:root {
  --color-bg-1: rgb(247, 247, 247);
  --color-bg-2: rgb(230, 230, 230);
  --color-bg-3: rgb(202, 202, 202);
  --color-text-1: #767676;
  --color-text-2: #4e4e4e;
  --color-text-3: #111;
  --color-primary-1: #003366;
  --color-primary-2: #003366e0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-text-2);
  font-size: 1.6rem;
}
