.container {
  max-width: 450px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--color-bg-1);
  padding: 1rem;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 250px;
}

.spinner > svg {
  width: 2rem;
  height: 2rem;
}
